<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Todo List Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <amplify-authenticator
    *ngIf="authState !== 'signedin'"
  ></amplify-authenticator>

</ion-content>
