<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="start"
          size="large"
          name="chevron-back-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Manage user devices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div
    class="spin-center"
    *ngIf="devices.length === 0; else doneLoadingDevices"
  >
    <ion-spinner color="grey"></ion-spinner>
  </div>
  <ng-template #doneLoadingDevices> -->
  <ion-list class="ion-padding-top">
    <ion-item-divider color="white">
      <ion-label class="ion-text-center">Biometric Login</ion-label>
    </ion-item-divider>
    <!-- Activate biometrics to login -->
    <ion-item lines="full">
      <ion-icon
        slot="start"
        color="primary"
        name="finger-print-outline"
      ></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>Activate Touch-ID</h2>
        <p class="description-text">Login via Touch-ID / Face-ID</p>
      </ion-label>
      <ion-toggle
        slot="end"
        [(ngModel)]="toggleTouchId"
        (ionChange)="toggleBiometrics($event)"
      ></ion-toggle>
    </ion-item>

    <ion-item-divider color="white">
      <ion-label class="ion-text-center">User Devices</ion-label>
    </ion-item-divider>
    <ion-item lines="full" *ngFor="let device of devices">
      <ion-label class="ion-text-wrap">
        <h3>
          {{ device.name }}
          <b *ngIf="device.isCurrent"> (Current Device)</b>
        </h3>
        <p class="description-text">Device Key: {{ device.key }}</p>
        <p class="description-text">
          Last login:
          {{ device.lastLogin }}
        </p>
      </ion-label>
      <ion-fab-button color="light" size="small" (click)="forgetDevice(device)">
        <ion-icon size="small" name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-list>
  <!-- </ng-template> -->
</ion-content>
