<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Todo List</ion-title>
    <ion-button slot="start" (click)="showModalManageDevices()"
      >Manage Devices</ion-button
    >
    <ion-button slot="end" (click)="signOut()">Sign-Out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user">
    <ion-item lines="none">Hello, <b>{{user.username}}!</b></ion-item>
  </div>

  <form #form="ngForm" (ngSubmit)="submitNewTodo()">
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" id="name" name="name" ngModel></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Descirption</ion-label>
      <ion-input
        type="text"
        id="description"
        name="description"
        ngModel
      ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Priority</ion-label>
      <ion-input type="text" id="priority" name="priority" ngModel></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="primary"
          expand="block"
          [disabled]="form.invalid"
          >Create New Todo</ion-button
        >
      </ion-col>
    </ion-row>
  </form>

  <ion-item lines="none">
    <ion-grid class="header" item-content>
      <ion-row>
        <ion-col size="4" class="ion-padding-start ion-no-margin">
          <ion-label class="ion-text-wrap">Name</ion-label>
        </ion-col>
        <ion-col size="4" class="ion-padding-start ion-no-margin">
          <ion-label class="ion-text-wrap">Description</ion-label>
        </ion-col>
        <ion-col size="4" class="ion-padding-start ion-no-margin">
          <ion-label class="ion-text-wrap">Prio</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item-sliding *ngFor="let item of todos; let i = index">
    <ion-item lines="none">
      <ion-grid class="content" item-content>
        <ion-row>
          <ion-col size="4" class="ion-padding-start ion-no-margin">
            <ion-label class="ion-text-wrap">{{ item.name }} </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-padding-start ion-no-margin">
            <ion-label class="ion-text-wrap">{{ item.description }}</ion-label>
          </ion-col>
          <ion-col size="4" class="ion-padding-start ion-no-margin">
            <ion-label class="ion-text-wrap">{{ item.priority }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>
        <ion-icon
          slot="icon-only"
          name="trash"
          (click)="deleteTodo(i)"
        ></ion-icon>
      </ion-item-option>
      <ion-item-option>
        <ion-icon
          slot="icon-only"
          name="create"
          (click)="updateTodo(i)"
        ></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
