ion-grid.content {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;

  ion-col {
    border: 0px solid lightgray;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 0px solid lightgray;
  }

  ion-row:last-child {
    border-bottom: 1px solid lightgray;
  }
}

ion-grid.header{
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;

  ion-row {
    border-bottom: 1px solid lightgray;
    // font-weight: bold;
  }
  ion-row:first-child {
    background-color:  #d8dbd949;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
  }

  ion-col {
    border: 0px solid lightgray;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 0px solid lightgray;
  }

  ion-row:last-child {
    border-bottom: 1px solid lightgray;
  }
}
